/* ================= RESUME SECTION ================= */

.resume-section {
  background: #020814;
  padding: 90px 0;
  color: white;
}

.section-title {
  text-align: center;
  /* margin-bottom: 60px; */
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-title p {
  max-width: 750px;
  margin: auto;
  opacity: .8;
}

/* ================= TITLES ================= */

.resume-title {
  font-size: 24px;
  font-weight: 600;
  margin: 40px 0 20px;
}

/* ================= CARD ================= */

.resume-item {
  background: #08111f;
  padding: 25px;
  border-radius: 16px;
  margin-bottom: 30px;
  box-shadow: 0 15px 35px rgba(0,0,0,.6);
  transition: .4s ease;
  transform-style: preserve-3d;
}

.resume-item:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 25px 50px rgba(20,157,221,.45);
}

/* ================= TEXT ================= */

.resume-item h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.resume-item h5 {
  font-size: 14px;
  opacity: .7;
}

.resume-item em {
  color: #149ddd;
}

.resume-item ul {
  margin-top: 15px;
  padding-left: 18px;
}

.resume-item ul li {
  font-size: 14px;
  margin-bottom: 8px;
  opacity: .85;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

  .resume-title {
    text-align: center;
  }

  .resume-item {
    padding: 20px;
  }
}
